body {
	background-color: #fff;
	max-width: 1100px;
	padding: 80px 80px 0px 80px
	font-family: PT Sans;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 30px auto 30px auto;
}

header{grid-area: header;}
nav{grid-area: nav;}
main{grid-area: main;}
footer{grid-area: footer;}

.container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "header header header"
						 "nav nav nav"
						 "main main main"
						 "footer footer footer";
}

nav>ul>li {
	display: inline;
}

nav>ul>li:not(:first-child) {
	margin-left: 30px;
}

.navLink {
	text-decoration: none;
	color: #263333;
}
.navLink:hover {
	color: red;
}

header {
	justify-self: center;
	margin-top: 60px;
}

nav.grid-item {
	margin: 35px 0px 35px 0px;
	justify-self: center;
}


.content {
	display: grid;
    grid-template-columns: repeat(3, minmax(174px, auto));
    grid-template-rows: repeat(3, minmax(174px, auto));
    grid-gap: 34px;
}

.content>.grid-item {
	grid-area: span 1;
}

.content-img {
	width: 100%;
    height: auto;
    object-fit: cover;
}

.footer {
	background-color: red;
}
